<div class="search-filters-container">
    <div class="sort-by-filters">
        <h2>Trier par</h2>

        <input type="checkbox" ><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox">
    </div>

    <div class="date-filters">
        <h2>Horaires</h2>

        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox">
    </div>

    <div class="user-filters">
        <h2>Utilisateurs</h2>

        <input type="checkbox" id="1">
        <label for="1"></label><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox">
    </div>

    <div class="contraintes-filters">
        <h2>Services</h2>

        <input type="checkbox" id="pets-chechbox">
        <label for="pets-chechbox">Animaux autorisés</label><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox">
    </div>
</div>