.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
}

.brand {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #0a1535;
}

/* BOUTON HEADER */
.publish-btn {
    background: #7da2ff;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.publish-btn:hover {
    background: #5e85ff;
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

/* TITRES */
.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

/* SECTIONS */
.section-prochaines,
.section-historique {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 60px;
}

.col {
    text-align: center;
}

.col h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

/* BARRE VERTICALE */
.bar-vertical {
    width: 2px;
    background: black;
    height: 250px;
}

/* TRAJET CARD */
.trajet-card {
    width: 380px;
    border: 2px solid #ccd2e3;
    border-radius: 18px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: 0.2s;
}

.trajet-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.avatar {
    width: 55px;
}

.nom {
    font-weight: bold;
}

.middle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fleche {
    font-size: 22px;
}

.right {
    font-size: 13px;
    text-align: right;
}

/* BUTTON small */
.small-btn {
    background: #7da2ff;
    border: none;
    padding: 10px 14px;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.small-btn:hover {
    background: #5e85ff;
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

/* BARRE HORIZONTALE */
.bar-horizontal {
    width: 95%;
    margin: 40px auto;
    border: 1px solid black;
}