.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 8px;
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: #0a1535;
}

.icons i {
    font-size: 22px;
    margin-left: 20px;
    color: #0a1535;
    cursor: pointer;
}

.card {
    width: 380px;
    background: #fff;
    padding: 25px 35px;
    border-radius: 20px;
    border: 2px solid #ccd2e3;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.card h2 {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
    color: #0a1535;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}
