.anchor {
    position: fixed;
    bottom: 20px;   /* bas */
    right: 20px;    /* droite */
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.anchor:hover {
    background: #333;
}
