/* Réservation confirmée - confirmation_reservation.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
main {
    background-color: white;
    min-height: 80vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    flex: 1;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.check {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #051220;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.title h1 {
    font-size: 36px;
    margin: 0;
    color: #051220;
}

/* CARD */
.card {
    width: 80%;
    max-width: 900px;
    border: 2px solid #051220;
    border-radius: 30px;
    padding: 40px;
}

.trip-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.separator {
    border-top: 2px solid #051220;
    margin: 25px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    font-size: 17px;
}

.btn {
    background-color: #8caff2;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 13px;
}

.background_button {
    background-color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
