footer {
    bottom: 0;
    width: 100%;
    background-color: #eef3fb;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    height: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
    font-size: 0.9em;
}