/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eef3fb;
    border-bottom: 1px solid #ccc;
    height: 8vh;
    font-style: bold;
    color: #2b4d9a;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.home-link{
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.site-name{
    font-size: 2em;
}

/* LOGO CONTAINER */
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2b4d9a;
}

.home-link img {
    width: 3rem;
}

/* ICÔNES À DROITE */
.header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-icons a {
    text-decoration: none;
    color: #2b4d9a;
    display: flex;
    align-items: center;
}

.icon{
    width: 3rem;
    border-radius: 50%;
}

.dropdown{
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: #2b4d9a 1px solid;
}

.dropdown:hover .hidden{
    display: block;
}

.hidden{
    display: none;
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin-top: 7vh;
}

.dropdown ul {
    position: absolute;
    top: 4%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    width: inherit;
}

.dropdown ul.hidden {
    display: none;
    width: inherit;
}

.dropdown:hover ul {
    display: block;
    width: inherit;
    
}

.dropdown ul li {
    cursor: pointer;
    width: inherit;
    padding: 1rem;
    border: #2b4d9a 1px solid;

}

.dropdown ul li:hover {
    background-color: #eef3fb;
    width: inherit;
}
