.search {
  border: none;
  background: none;
  font-size: 22px;
  outline: none;
}

.gender-options{
    display: flex;
    flex-direction: row;
}

.profile-icon {
  background-color: #b6c8f0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

.login-box {
  margin: auto;
  max-width: 600px;
  border-radius: 15px;
  padding: 40px 50px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.login-box h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 12px 14px;
  margin: 12px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.2s;
}

.login-box input:focus {
  border-color: #a3b8ec;
  box-shadow: 0 0 8px rgba(163, 184, 236, 0.4);
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  
}

.primary {
  background-color: #a3b8ec;
  color: #000;
}

.primary:hover {
  background-color: #93a9e0;
}

.secondary {
  text-decoration: none;
  color: #000;
  color: #333;
  margin-left: 0.5rem;
  align-items: center;
}

.secondary:hover {
  background-color: #b8c8ed;
}
