@import url(index.css);
@import url(trip_infos.css);
@import url(trip_payment.css);
@import url(header.css);
@import url(footer.css);
@import url(searchPage.css);
@import url(anchor.css);
@import url(message_anchor.css);
@import url(register.css);
@import url(login.css);
@import url(mp.css);