.message-anchor {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.message-anchor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
