.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.section-prochaines, .section-historique {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
}

.col {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.col h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.trajet-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.trajet-card .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
}

.nom {
    font-weight: 600;
}

.middle {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fleche {
    font-weight: bold;
    font-size: 20px;
}

.right {
    text-align: right;
}

.small-btn {
    background-color: #b6c8ff;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.bar-horizontal {
    border: 1px solid #ddd;
    margin: 40px 0;
}

.historique-center {
    text-align: center;
}

.histoty-container{
    min-height: 100%;
}


.profile-card{
    width:35vw;
    margin:30px auto;
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.profile-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-top input{
    width: 15vw;
}

.profile-card h2{
    text-align:center;
}

.profile-label{
    font-size:12px;
    display:block;
    margin-top:10px;
}

.profile-input{
    width:100%;
    padding:6px 8px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-top:3px;
    box-sizing:border-box;
}

.btn{
    margin-top:18px;
    display:block;
    width:120px;
    padding:8px 10px;
    border:none;
    background:#86a6e6;
    border-radius:20px;
    color:white;
    cursor:pointer;
    float:right;
}