/* Styles pour la page de paiement */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fff;
  color: #0b0b0b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  text-align: center;
  margin-top: 8vh;
  padding-top: 40px;
  flex: 1;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

.card {
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  padding: 30px 50px;
  width: 550px;
  margin: 40px auto;
  text-align: left;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-info table {
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
}

.payment-info td {
  padding: 6px 0;
}

.total-price {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  border-top: 1px solid #000;
  padding-top: 15px;
  text-align: right;
}

.payment-form div {
  margin-bottom: 12px;
}

.payment-form label {
  font-weight: 500;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
}

.btn-payer {
  background-color: #b6c8ff;
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  margin-top: 15px;
}

.details-resume {
  margin-top: 10px;
  font-size: 14px;
}

